.img{
  height: 10%;
  width: 50px;
}
.container-fluid{
  height: 70px;
}

.container-fluid img{
  height: 10%;
  width: 15%;
}
.button2{
  width: 90px;
  padding: 5px;
  background-color: black;
  color: white;
}
.button1{
  width: 90px;
  padding: 5px;
  background-color: white;
  color: black;
}


.container {
  /* border: 2px solid red; */
  /* height: 2000px; */
  width: 100%;
  margin: auto;
}

.h1 {
  font-size: 80px;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 50px 160px;
  width: 80%;
  /* width: 475px; */
  color: rgb(255, 196, 0);
}
.text {
  font-size: 23px;
  line-height: 25px;
  font-weight: 1000px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-style: italic;
}

.s1 {
  /* font-size: 40px; */
  font-weight: 500px;
  width: 50%;
  background: linear-gradient(100deg, blue, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2.5rem;
  line-height: 40px;
}
